
<h3 class="prank-title animated pulse madlib-word">YOUR PRANK SELECTS</h3>

<div class="row">
   <div class="col s12 m5">
     <div class="card-panel teal">
       <span class="white-text">IF YOUR SELECTIONS RANK HIGHER THAN THE COMPUTER'S SELECTIONS, YOU WIN. MAKE YOUR SELECTIONS -> CLICK CREATE MADLIB TO TRY YOU LUCK!
       </span>
     </div>
   </div>
 </div>

<!-- <h5>IF YOUR SELECTIONS RANK HIGHER THAN THE COMPUTER'S SELECTIONS, YOU WIN.<br> CLICK CREATE MADLIB TO TRY YOU LUCK!</h5> -->

<%= form_for @witch, :url => { :controller => "madlibs", :action => "create_witch" } do |f| %>
<%= f.hidden_field :category_id, :value => 1 %>

  <p><%= f.label :noun %>
<%= f.collection_select(:word1_id, @nouns, :id, :name)  %></p>
<p><%= f.label :adjective %>
<%= f.collection_select(:word2_id, @adjectives, :id, :name)  %></p>
<p><%= f.label :adjective %>
<%= f.collection_select(:word3_id, @adjectives, :id, :name)  %></p>
<p><%= f.label :noun %>
<%= f.collection_select(:word4_id, @nouns, :id, :name)  %></p>
<p><%= f.label :verb %>
<%= f.collection_select(:word5_id, @verbs, :id, :name)  %></p>
<%= f.submit %>
<% end %>


<div class="row">
   <div class="col s12 m5">
     <div class="card-panel teal">
       <span class="white-text">HURRY BEFORE THE CLOCK RUNS OUT. IF IT RUNS OUT, YOU MUST CLICK 'CREATE MADLIB'
       </span>
     </div>
   </div>
 </div>

<div>
<p id="timer">_________</p>
</div>

<script>

var timeleft = 30;
var currentTime = 0;


 var timer = $('#timer')
 timer.html(timeleft - currentTime)

 var interval = setInterval(timeIt, 1000);

 function timeIt() {

   currentTime ++;
   timer.html(timeleft - currentTime);

if (currentTime == timeleft) {
  clearInterval(interval)
  alert("You are out of time!!");

    }
  }

</script>
