
<script>

var startTime = 0;
var timeleft = 60;
var currentTime = 0;

function setup() {
 noCanvas();

 var timer = select('#timer')
 timer.html(timeleft - currentTime)


 var interval = setInterval(timeIt, 1000);

 function timeIt() {
   currentTime ++;
   timer.html(timeleft - currentTime);

if (currentTime == timeleft) {
  clearInterval(interval)
  alert("You are out of time!!");

    }
  }
}



</script>


<%= form_for @witch, :url => { :controller => "madlibs", :action => "create_witch" } do |f| %>
<%= f.hidden_field :category_id, :value => 1 %>


<p><%= f.label :noun %>
<%= f.collection_select(:word1_id, @nouns, :id, :name)  %></p>
<p><%= f.label :adjective %>
<%= f.collection_select(:word2_id, @adjectives, :id, :name)  %></p>
<p><%= f.label :adjective %>
<%= f.collection_select(:word3_id, @adjectives, :id, :name)  %></p>
<p><%= f.label :noun %>
<%= f.collection_select(:word4_id, @nouns, :id, :name)  %></p>
<p><%= f.label :verb %>
<%= f.collection_select(:word5_id, @verbs, :id, :name)  %></p>
<%= f.submit %>
<% end %>

<p id="timer">_________</p>
