<head>
  <img class= "img" src="../assets/heads.jpg" alt="head">
    <div class= "flyingghost">
  <div class="animated lightSpeedOut ghost">
  <div class="ghosticon">
    <img src="../assets/ghost_2.png">
    </div>

  </div>
  </div>
</head>
<body class = "g_background">


<h3>Who Won?</h3>
<% if @ghost_user_total > @ghost_cpu_total %>
<div class="g_winner">
<%= "Your madlib wins!!" %></div>
<% elsif  @ghost_cpu_total > @ghost_user_total %>
<div class="g_winner">
<%= "The computer's madlib wins!" %></div>
<% else %>
<% @ghost_user_total == @ghost_cpu_total %>
<div class="g_winner">
<%= "It's a tie!" %></div>
<% end %>

<div class="show-container">
<div>
<h3>YOU</h3>

<p>To initiate this prank summon a not so friendly spirit.</p>

<p>Get both your victim and your <span class="word"><%= Word.find(@ghost.word1_id).name %></span> spirit in a non-escapable room.</p>


<p>The spirit first <span class="word"><%= Word.find(@ghost.word2_id).name %></span> your victim.
Your victim <span class="word"><%= Word.find(@ghost.word3_id).name %></span> and <span class="word"><%= Word.find(@ghost.word4_id).name %></span> in a devious fashion while the ghost <span class="word"><%= Word.find(@ghost.word5_id).name %></span> your victim as the ultimate prank.</p>

<h3>Your Total</h3>
<div class="g_total text-pop-up-bottom" >
<%= @ghost_user_total %>
</div>
</div>

<div>
<h3>COMPUTER</h3>

<p>To initiate this prank summon a not so friendly spirit.</p>

<p>Get both your victim and your <span class="word"><%=  @cnouns.sample.name %></span> spirit in a non-escapable room.</p>

<p>The spirit first <span class="word"><%= @cverbs.sample.name %></span> your victim.
Your victim <span class="word"><%= @cverbs.sample.name %></span> and <span class="word"><%= @cverbs.sample.name %></span> in a devious fashion while the ghost <span class="word"><%= @cverbs.sample.name %></span> your victim as the ultimate prank.</p>


<h3>The Computer's Total</h3>
<div class="g_total text-pop-up-bottom">
<%= @ghost_cpu_total %>

</div>
</div>
</div>


</body>
