<h1>"Witches"</h1>

<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <%= Word.find(@witch.word5_id).name %> as your potion changes this person into the
  <%= Word.find(@witch.word4_id).name %> creature,</p>

<p> "your victim <%= Word.find(@witch.word2_id).name %> while you are overcome with glee.
The <%= Word.find(@witch.word1_id).name %>, <%= Word.find(@witch.word3_id).name %> state in which you have left your victim should only last a day or two."</p>



<h3>The computers form </h3>

<h1>"Witches"</h1>

<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow Feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <%= @cverbs.sample.name %> as your potion changes this person into the
  <%= @cnouns.sample.name %> creature,</p>

<p> "your victim <%= @cadjectives.sample.name %> while you are overcome with glee.
The <%= @cnouns.sample.name %>, <%= @cadjectives.sample.name %> state in which you have left your victim should only last a day or two."</p>
