<head>
  <img class= "img" src="../assets/heads.jpg" alt="head">
    <div class= "flyingwitch">
  <div class="animated lightSpeedOut witch-word">
  <div class="witch_icon">
    <img src="../assets/flywitch.png">
    </div>

  </div>
  </div>
</head>
<body class = "w_background">


<h3>Who Won?</h3>
<% if @witch_user_total > @witch_cpu_total %>
<div class="winner">
<strong><%= "Your madlib wins!!" %></strong></div>
<% elsif  @witch_cpu_total > @witch_user_total %>
<div class="winner">
<strong><%= "The computer's madlib wins!" %></strong></div>
<% else %>
<% @witch_user_total == @witch_cpu_total %>
<div class="winner">
<strong><%= "It's a tie!" %></strong></div>
<% end %>


<div class="show-container">
<div class="show-border">
<h3 class="text-pop-up-bottom">YOU</h3>

<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <span class="word"> <%= Word.find(@witch.word5_id).name %></span> as your potion changes this person into a
<span class="word"> <%= Word.find(@witch.word4_id).name %></span>  creature, your victim <span class="word"><%= Word.find(@witch.word2_id).name %></span> while you are overcome with glee.</p>
The<span class="word"> <%= Word.find(@witch.word2_id).name %>, <%= Word.find(@witch.word3_id).name %></span> state in which you have left your victim should only last a day or two.</p>

<h4>Your Total</h4>
<div class="w_total text-pop-up-bottom" >
<%= @witch_user_total %>
</div>
</div>



<div class="show-border">
<h3 class="text-pop-up-bottom">COMPUTER</h3>


<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow Feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <span class="word"><%= @cverbs.sample.name %></span> as your potion changes this person into a
  <span class="word"><%= @cnouns.sample.name %> </span> creature,

your victim <span class="word"> <%= @cadjectives.sample.name %></span> while you are overcome with glee.</p>
The <span class="word"> <%= @cadjectives.sample.name %>, <%= @cadjectives.sample.name %> </span> state in which you have left your victim should only last a day or two.</p>


<h4>The Computer's Total</h4>
<div class="w_total text-pop-up-bottom">
<%= @witch_cpu_total %>
</div>
</div>
</div>


</body>
