<head>
  <img class= "img" src="../assets/heads.jpg" alt="head">
    <div class= "flyingdoll">
  <div class="animated lightSpeedOut doll">
  <div class="dollicon">
    <!-- <img src="../assets/voodoo.jpg"> -->
    </div>

  </div>
  </div>
</head>
<body class = "d_background">


<h3>Who Won?</h3>
<% if @doll_user_total > @doll_cpu_total %>
<div class="d_winner">
<%= "Your madlib wins!!" %></div>
<% elsif  @doll_cpu_total > @doll_user_total %>
<div class="d_winner">
<%= "The computer's madlib wins!" %></div>
<% else %>
<% @doll_user_total == @doll_cpu_total %>
<div class="d_winner">
<%= "It's a tie!" %></div>
<% end %>

<div class="show-container">
<div>
<h2>YOU</h2>

<p>To scare a friend or foe, unleash this prank using a frightening or average-looking doll:</p>
<p>Place your <span class="word"><%= Word.find(@doll.word1_id).name %></span> doll of choice in a locker, desk, or other <span class="word"><%= Word.find(@doll.word2_id).name %></span> area of your chosen<span class="word"> <%= Word.find(@doll.word3_id).name %></span> place.</p>
<p>Wait for this person to discover the doll which <span class="word"><%= Word.find(@doll.word4_id).name %></span> while you watch, smile spreading across your <span class="word"><%= Word.find(@doll.word5_id).name %></span> face.</p>

<h3>Your Total</h3>
<div class="d_total text-pop-up-bottom" >
<h5><%= @doll_user_total %></h5>
</div>
</div>

<div>
<h2>COMPUTER</h2>

<p>To scare a friend or foe, unleash this prank using a frightening or average-looking doll:</p>
<p>Place your <span class="word"><%= @cadjectives.sample.name %></span> doll of choice in a locker, desk, or other <span class="word"><%= @cadjectives.sample.name %></span> area of your chosen <span class="word"><%= @cnouns.sample.name %></span> place.</p>
<p>Wait for this person to discover the doll which <span class="word"><%= @cverbs.sample.name %></span>  while you watch, smile spreading across your <span class="word"><%= @cnouns.sample.name %> </span> face.</p>
<h3>The Computer's Total</h3>
<div class="d_total text-pop-up-bottom">
<h5><%= @doll_cpu_total %></h5>

</div>
</div>
</div>


</body>
