<h1 class= "animated lightSpeedOut witch-word">Witches</h1>


<h3>Who Won?</h3>
<% if @witch_user_total > @witch_cpu_total %>
<%= "Your madlib wins!!" %>
<% elsif  @witch_cpu_total > @witch_user_total %>
<%= "The computer's madlib wins!" %>
<% else %>
<% @witch_user_total == @witch_cpu_total %>
<%= "It's a tie!" %>
<% end %>

<h3>YOU</h3>

<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <%= Word.find(@witch.word5_id).name %> as your potion changes this person into a
  <%= Word.find(@witch.word4_id).name %> creature,</p>

<p> your victim <%= Word.find(@witch.word2_id).name %> while you are overcome with glee.
The <%= Word.find(@witch.word2_id).name %>, <%= Word.find(@witch.word3_id).name %> state in which you have left your victim should only last a day or two.</p>

<h3>Your Total</h3>
<%= @witch_user_total %>

<h3>COMPUTER</h3>


<p>To initiate this prank accummulate ingredients for your potion: Eye of Newt, Fairy Wings, Blood Meal, Crow Feathers.</p>

<p>Stir to a boil. Pour the finished potion on your victim. The prankee <%= @cverbs.sample.name %> as your potion changes this person into a
  <%= @cnouns.sample.name %> creature,</p>

<p>your victim <%= @cadjectives.sample.name %> while you are overcome with glee.
The <%= @cadjectives.sample.name %>, <%= @cadjectives.sample.name %> state in which you have left your victim should only last a day or two.</p>


<h3>The Computer's Total</h3>
<%= @witch_cpu_total %>
