<h1>Serial Killer Madlibs 🔪 </h1>
<h2>Your Madlib: </h2>
<p>To scare the living daylights out of your chosen victim, </p>
<p>find a gruesome or <%= Word.find(@sk.word1_id).name %> mask or hooded <%= Word.find(@sk.word2_id).name %> </p>
<p> to wear along with a fake weapon of choice.</p>
<p>Try a <%= Word.find(@sk.word3_id).name %> chainsaw, knife, or weapon of choice.</p>
<p>You jump out as your <%= Word.find(@sk.word4_id).name %> victim approaches.</p>
<p>Enjoy the feeling of him/her being thoroughly frightened at your presence</p>
<p>and maybe even <%= Word.find(@sk.word5_id).name %>  away at full speed."</p>
<h3>Your Total</h3>
<%= @sk_user_total %>

<h2>The computer's madlib: </h2>
<h2>Your Madlib: </h2>

<p>To scare the living daylights out of your chosen victim, </p>
<p>Find a gruesome or <%=  @cadjectives.sample.name %> mask or hooded <%=  @cadjectives.sample.name %> </p>
<p> to wear along with a fake weapon of choice.</p>
<p>Try a <%=  @cnouns.sample.name %> chainsaw, knife, or weapon of choice.</p>
<p>You jump out as your <%=  @cadjectives.sample.name %> victim approaches.</p>
<p>Enjoy the feeling of him/her being thoroughly frightened at your presence</p>
<p>and maybe even <%=  @cverbs.sample.name %> away at full speed."</p>
<h3>The Computer's Total</h3>
<%= @sk_cpu_total %>
